:root {
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768px;
  --phone: 480px;
}


* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: #ffff;
}

body {
  background-color: rgb(116, 78, 242);
}


h1 {
  font-size: 80px;
  width: 100%;
  text-align: center;
  margin: 50px auto;
}

.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.menuBtns {
  font-size: 30px;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  transition:0.3s;
}

#startBtn:hover, #restartBtn:hover {
  font-size:45px;
  font-weight: bold;
}

#message1, #message2, #message3 {
  font-size:25px;
  margin-bottom: 10px;
}

#message3 {
  margin-top: 10px;
}

.scoreTracker {
  font-size:100px;
  margin: 20px auto;
}

#userScore, #compScore {
  display: inline
}

.container {
  display: none;
  flex-direction: column;
  width: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.gameOptions {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  gap: 80px;
}

.gameBtn {
  width: 260px;
  height: 260px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  transition: 0.3s;
}

.gameBtn:hover{
  transform: translate(10px, 25px)
}

img {
  width: 260px;
  height: 260px;
  object-fit: scale-down;
}

@media (max-width: 480px) {
  body{
    background-color: black;
  }
  h1 {
    font-size: 60px;
  }
  .menu-options, .menuBtns{
    font-size: 25px;
    padding: 10px;
  }
  #message1, #message2, #message3{
    font-size: 20px;
  }
  img {
    width: 100px;
    height: 100px;
  }
  .gameBtn {
    width: 100px;
    height: 100px;
  }
}