* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
 
}

.container {
  display: flex;
  width: 700px;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.gameOptions {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

#rockBtn, #paperBtn, #scissorsBtn, #restartBtn {
  width: 150px;
  height: 45px;
  font-size: 16px

}

#restartBtn {
  margin-top: 20px;
}